{% extends "layout.html" %}
{% block content %}
<div class="container-fluid px-4">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2>{{ lesson_data.title }}</h2>
                    <p>{{ lesson_data.content }}</p>

                    {% if lesson_data.lesson == 1 %}
                    <!-- C Major Scale Piano -->
                    <div class="piano-container mb-4">
                        <div id="piano" class="d-flex justify-content-center">
                            <div class="key-container">
                                <div class="white-key" data-note="C4">C</div>
                                <div class="black-key" data-note="C#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="D4">D</div>
                                <div class="black-key" data-note="D#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="E4">E</div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="F4">F</div>
                                <div class="black-key" data-note="F#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="G4">G</div>
                                <div class="black-key" data-note="G#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="A4">A</div>
                                <div class="black-key" data-note="A#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="B4">B</div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="C5">C</div>
                            </div>
                        </div>
                        <div class="controls text-center mt-4">
                            <button id="play-scale" class="btn btn-success me-2">Play C Major Scale</button>
                        </div>
                    </div>
                    {% endif %}

                    {% if lesson_data.lesson == 2 %}
                    <!-- Interval Demo -->
                    <div class="piano-container mb-4">
                        <div id="interval-piano" class="d-flex justify-content-center">
                            <div class="key-container">
                                <div class="white-key" data-note="C4">C</div>
                                <div class="black-key" data-note="C#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="D4">D</div>
                                <div class="black-key" data-note="D#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="E4">E</div>
                            </div>
                        </div>
                        <div class="controls text-center mt-4">
                            <button id="play-half-step" class="btn btn-primary me-2">Play Half Step (C to C♯)</button>
                            <button id="play-whole-step" class="btn btn-primary">Play Whole Step (C to D)</button>
                        </div>
                    </div>
                    {% endif %}

                    {% if lesson_data.lesson == 3 %}
                    <!-- Chord Diagrams -->
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="chord-diagram text-center p-3 border rounded">
                                <h4>{{ lesson_data.chords.major.title }}</h4>
                                <div class="piano-container">
                                    <div class="d-flex justify-content-center">
                                        <div class="key-container">
                                            <div class="white-key highlight" data-note="C4">C</div>
                                            <div class="black-key" data-note="C#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="D4">D</div>
                                            <div class="black-key" data-note="D#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key highlight" data-note="E4">E</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="F4">F</div>
                                            <div class="black-key" data-note="F#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key highlight" data-note="G4">G</div>
                                            <div class="black-key" data-note="G#4"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="controls text-center mt-4">
                                    <button class="btn btn-primary play-chord" data-piano="major">Play C Major Chord</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="chord-diagram text-center p-3 border rounded">
                                <h4>{{ lesson_data.chords.minor.title }}</h4>
                                <div class="piano-container">
                                    <div class="d-flex justify-content-center">
                                        <div class="key-container">
                                            <div class="white-key highlight" data-note="C4">C</div>
                                            <div class="black-key" data-note="C#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="D4">D</div>
                                            <div class="black-key highlight" data-note="Eb4">Eb</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="E4">E</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="F4">F</div>
                                            <div class="black-key" data-note="F#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key highlight" data-note="G4">G</div>
                                            <div class="black-key" data-note="G#4"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="controls text-center mt-4">
                                    <button class="btn btn-primary play-chord" data-piano="minor">Play C Minor Chord</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if lesson_data.lesson == 4 %}
                    <!-- Interactive Chord Practice -->
                    <div class="row mb-4">
                        <!-- G Major Piano -->
                        <div class="col-md-6">
                            <div class="chord-practice text-center p-3 border rounded">
                                <h4>Build a G Major Chord</h4>
                                <div class="piano-container">
                                    <div id="major-piano" class="d-flex justify-content-center">
                                        <div class="key-container">
                                            <div class="white-key" data-note="G4">G</div>
                                            <div class="black-key" data-note="G#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="A4">A</div>
                                            <div class="black-key" data-note="A#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="B4">B</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="C5">C</div>
                                            <div class="black-key" data-note="C#5"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="D5">D</div>
                                            <div class="black-key" data-note="D#5"></div>
                                        </div>
                                    </div>
                                    <div class="chord-feedback-container">
                                        <p class="chord-feedback mt-2"></p>
                                    </div>
                                </div>
                                <div class="controls text-center mt-4">
                                    <button class="btn btn-success check-chord" data-piano="major">Check Chord</button>
                                </div>
                            </div>
                        </div>
                        <!-- G Minor Piano -->
                        <div class="col-md-6">
                            <div class="chord-practice text-center p-3 border rounded">
                                <h4>Build a G Minor Chord</h4>
                                <div class="piano-container">
                                    <div id="minor-piano" class="d-flex justify-content-center">
                                        <div class="key-container">
                                            <div class="white-key" data-note="G4">G</div>
                                            <div class="black-key" data-note="G#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="A4">A</div>
                                            <div class="black-key" data-note="Bb4">Bb</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="B4">B</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="C5">C</div>
                                            <div class="black-key" data-note="C#5"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="D5">D</div>
                                            <div class="black-key" data-note="D#5"></div>
                                        </div>
                                    </div>
                                    <div class="chord-feedback-container">
                                        <p class="chord-feedback mt-2"></p>
                                    </div>
                                </div>
                                <div class="controls text-center mt-4">
                                    <button class="btn btn-success check-chord" data-piano="minor">Check Chord</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if lesson_data.lesson == 5 %}
                    <!-- Major vs Minor Audio Examples -->
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Original (Major Key)</h5>
                                    <p class="card-text">Listen to "A Whole New World" in its original major key:</p>
                                    <audio id="major-song" controls>
                                        <source src="{{ url_for('serve_audio', filename='Disney\'s Aladdin - A Whole New World (Piano Cover).mp3') }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Minor Key Version</h5>
                                    <p class="card-text">Now hear how it sounds in minor key:</p>
                                    <audio id="minor-song" controls>
                                        <source src="{{ url_for('serve_audio', filename='Have You Ever Heard A Whole New World in MINOR KEY_.mp3') }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="d-flex justify-content-between mt-4">
                        {% if lesson_data.lesson > 1 %}
                            <a class="btn btn-outline-secondary" href="/learn/{{ lesson_data.lesson - 1 }}">Previous</a>
                        {% else %}
                            <a class="btn btn-outline-secondary" href="/" disabled>Previous</a>
                        {% endif %}

                        {% set next_lesson = lesson_data.lesson + 1 %}
                        {% if next_lesson > 5 %}
                            <a class="btn btn-success" href="/quiz/1">Go to Quiz</a>
                        {% else %}
                            <a class="btn btn-primary" href="/learn/{{ next_lesson }}">Next</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='learn.js') }}"></script>
{% endblock %}
