{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2>{{ lesson_data.title }}</h2>
                    <p>{{ lesson_data.content }}</p>

                    {% if lesson_data.lesson == 1 %}
                    <!-- C Major Scale Piano -->
                    <div class="piano-container mb-4">
                        <div id="piano" class="d-flex justify-content-center">
                            <div class="key-container">
                                <div class="white-key" data-note="C4">C</div>
                                <div class="black-key" data-note="C#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="D4">D</div>
                                <div class="black-key" data-note="D#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="E4">E</div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="F4">F</div>
                                <div class="black-key" data-note="F#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="G4">G</div>
                                <div class="black-key" data-note="G#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="A4">A</div>
                                <div class="black-key" data-note="A#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="B4">B</div>
                            </div>
                        </div>
                        <div class="controls text-center mt-4">
                            <button id="play-scale" class="btn btn-success me-2">Play C Major Scale</button>
                        </div>
                    </div>
                    {% endif %}

                    {% if lesson_data.lesson == 2 %}
                    <!-- Chord Diagrams -->
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="chord-diagram text-center p-3 border rounded">
                                <h4>{{ lesson_data.diagrams.major.title }}</h4>
                                <div class="piano-container">
                                    <div class="d-flex justify-content-center">
                                        <div class="key-container">
                                            <div class="white-key highlight" data-note="C4">C</div>
                                            <div class="black-key" data-note="C#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="D4">D</div>
                                            <div class="black-key" data-note="D#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key highlight" data-note="E4">E</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="F4">F</div>
                                            <div class="black-key" data-note="F#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key highlight" data-note="G4">G</div>
                                            <div class="black-key" data-note="G#4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="chord-diagram text-center p-3 border rounded">
                                <h4>{{ lesson_data.diagrams.minor.title }}</h4>
                                <div class="piano-container">
                                    <div class="d-flex justify-content-center">
                                        <div class="key-container">
                                            <div class="white-key highlight" data-note="C4">C</div>
                                            <div class="black-key" data-note="C#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="D4">D</div>
                                            <div class="black-key highlight" data-note="Eb4">Eb</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="E4">E</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="F4">F</div>
                                            <div class="black-key" data-note="F#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key highlight" data-note="G4">G</div>
                                            <div class="black-key" data-note="G#4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if lesson_data.lesson == 3 %}
                    <!-- Interactive Chord Practice -->
                    <div class="row mb-4">
                        <!-- C Major Piano -->
                        <div class="col-md-6">
                            <div class="chord-practice text-center p-3 border rounded">
                                <h4>C Major Chord</h4>
                                <div class="piano-container">
                                    <div id="major-piano" class="d-flex justify-content-center">
                                        <div class="key-container">
                                            <div class="white-key" data-note="C4">C</div>
                                            <div class="black-key" data-note="C#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="D4">D</div>
                                            <div class="black-key" data-note="D#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="E4">E</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="F4">F</div>
                                            <div class="black-key" data-note="F#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="G4">G</div>
                                            <div class="black-key" data-note="G#4"></div>
                                        </div>
                                    </div>
                                    <div class="controls text-center mt-3">
                                        <button class="play-chord btn btn-success" data-piano="major">Play Chord</button>
                                        <p class="chord-feedback mt-2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- C Minor Piano -->
                        <div class="col-md-6">
                            <div class="chord-practice text-center p-3 border rounded">
                                <h4>C Minor Chord</h4>
                                <div class="piano-container">
                                    <div id="minor-piano" class="d-flex justify-content-center">
                                        <div class="key-container">
                                            <div class="white-key" data-note="C4">C</div>
                                            <div class="black-key" data-note="C#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="D4">D</div>
                                            <div class="black-key" data-note="Eb4">Eb</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="E4">E</div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="F4">F</div>
                                            <div class="black-key" data-note="F#4"></div>
                                        </div>
                                        <div class="key-container">
                                            <div class="white-key" data-note="G4">G</div>
                                            <div class="black-key" data-note="G#4"></div>
                                        </div>
                                    </div>
                                    <div class="controls text-center mt-3">
                                        <button class="play-chord btn btn-success" data-piano="minor">Play Chord</button>
                                        <p class="chord-feedback mt-2"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if lesson_data.type == "interactive" and lesson_data.lesson == 4 %}
                    <!-- Interactive Piano -->
                    <div class="piano-container mb-4">
                        <div id="chord-piano" class="d-flex justify-content-center">
                            <div class="key-container">
                                <div class="white-key" data-note="G4">G</div>
                                <div class="black-key" data-note="G#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="A4">A</div>
                                <div class="black-key" data-note="A#4"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="B4">B</div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="C5">C</div>
                                <div class="black-key" data-note="C#5"></div>
                            </div>
                            <div class="key-container">
                                <div class="white-key" data-note="D5">D</div>
                                <div class="black-key" data-note="D#5"></div>
                            </div>
                        </div>
                        <div class="controls text-center mt-4">
                            <button id="submit-chord" class="btn btn-primary">Check Chord</button>
                            <p id="chord-feedback" class="mt-2"></p>
                        </div>
                    </div>
                    {% endif %}

                    {% set next_lesson = lesson_data.lesson + 1 %}
                    {% if next_lesson > 4 %}
                    <a class="btn btn-success mt-4" href="/quiz/1">Go to Quiz</a>
                    {% else %}
                    <a class="btn btn-secondary mt-4" href="/learn/{{ next_lesson }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='learn.js') }}"></script>
{% endblock %}
